body {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}

#title-id {
    width: 300px;
}

#textarea {
    width: 300px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

#post {
    background-color: green;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 10px;
}