{% extends 'base.html' %}
{%load static %}
{% block title %}Home Page{%endblock title%}
{% block css %}<link rel="stylesheet" type="" href='{% static "post.css" %}'>{%endblock css%}
{% block body %}
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BlogPosting</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newpost">Newpost</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myposts">Myposts</a>
          </li>
          <a class="nav-link" href="{% url 'signout' %}">Logout</a>
          </li>
        </li>
        <a class="nav-link" href="{% url 'contact' %}">ContactUs</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  {% for post in posts %}
  <div class="container-lg mt-4 post-div">
    <h1 class="title">{{post.title}}</h1> 
    <h6 class="date">{{post.date|date:"F d,Y"}}</h6>
    <p class="post-content">{{post.content}}</p>
  </div>
  {% endfor %}
{%endblock body%}