{% extends 'base.html' %}
{%load static %}
{% block title %}Login Page{%endblock title%}
{% block css %}<link rel="stylesheet" type="" href='{% static "login.css" %}'>{%endblock css%}
{% block body %}
<div class="container outer-div">
    <form method='POST'>
      {% csrf_token %}
        <div class="text-center heaading"><h1>LOGIN PAGE</h1></div>
        <div class="inner-div">
        <div class="mb-3">
          <label  class="form-label" >User Name</label>
          <input type="text" class="form-control" name='lusername' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter UserName">
        <div class="mb-3">
          <label  class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name='lpassword' placeholder="Enter password">
        </div>
        <!-- <button type="submit" class="btn btn-primary">Login</button>
       <div class=""> <button type="submit" class="btn btn-primary">Create Account</button>
      </div> -->
      <div class="d-flex justify-content-between">
        <input class="btn btn-primary"  type="submit" value="Login">
       <a href='{%url 'register'%}' ><button class="btn btn-primary" type="button">Create Account</button></div></a>
      </div>
    </div>
      </form>
</div>
{%endblock body%}