{% extends 'base.html' %}
{%load static%}
{% block css %}<link rel="stylesheet" type="" href='{% static "newpostt.css" %}'>{%endblock css%}
{% block body%}
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BlogPosting</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newpost">Newpost</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myposts">Myposts</a>
          </li>
          <a class="nav-link" href="{% url 'signout' %}">Logout</a>
          </li>
        </li>
        <a class="nav-link" href="{% url 'contact' %}">ContactUs</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container mt-5 ">
  <form method='POST'>
    {% csrf_token %}
<h4>Make a new Post</h4>
<h6>Heading/title</h6>
<input type="text" name="title" id="title-id">
<h6>Content</h6>
<textarea name="content" id="textarea"></textarea>
<br>
<input type="submit" value="Post" id="post">
  </form>
</div>
{% endblock body%}